*{
    margin: 0;
    padding: 0;
    text-decoration: 0;
    font-family: "Pytone One", sans-serif;
}

/* variaveis */
:root {
    --white: white;
    --gray:#417D9B;
    --blueclaro:#C0E9FF;
    --blue:#0166B2;


}

.d-flex{
    display: flex;
}

/* cores */
.bg-red{
    background-color:var(--white)
    
}

.bg-gray{
    background-color: var(--blue);
}

.bg-blue{
    background-color: var(--gray);
}

.tex-white{
    color: var(--white);
}

/* espaçamentos */
.center {
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

.b-radius{
    border-radius: 15px;
}

body{
    background-color:var(--blueclaro);
    font-family: "Inter", sans-serif;
}

.logo {
    width: 300px;
}

.text-tam{
    font-size: 50px;
}

.text-tam-ex{
    font-size: 30px;
}
.negrito{
    font-weight: bold;
}

.foto {
    width: 200px;
    margin: 10px;
       
}

.pyton{
    width: 400px;
}

.semafaro{
    width: 350px;
}

.banner img{
    width: 100%;
}

.caixa{
    padding: 40px;
    border: 2px;
    margin-top: 45px;
    border-radius: 20px;
    margin-left: 250px;
    margin-right: 250px;
    box-shadow: 4px -4px 12px 2px #00000066;;
}

